<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Vos voitures", voitures_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Vos Reservations", vos_reservations_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Vos Locations", vos_locations_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Vos Reservations
			</div>
			<div class="panel-body">
				<% @voitures.each do |voiture| %>
					
					<% voiture.reservations.each do |reservation| %>
						<div class="row">
							<div class="col-md-2">
								<%= reservation.start_date.strftime('%v') %>
							</div>	
							<div class="col-md-6">
								<%= link_to voiture_path(reservation.voiture) do %>
									<%= image_tag reservation.voiture.photos[0].image.url(:thumb) if reservation.voiture.photos.length > 0 %>
								<% end %>
							</div>	
							<div class="col-md-2">
								<%= link_to user_path(reservation.user) do %>
									<%= image_tag avatar_url(reservation.user), class: "img-circle avatar-medium" %>
								<% end %>	
							</div>	
							<div class="col-md-2 right">
								<h4><%= reservation.total %>Dhs</h4>
							</div>	
						</div>
						<hr>
					<% end %>

				<% end %>

			</div>
		</div>
	</div>
</div>